Navbar
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand brand" href="#">
            <span id="ensaSpan">Ensa</span><span id="paySpan">Pay</span>
        </a>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Notification dropdown -->




        </ul>
    </div>
    <!-- Container wrapper -->
</nav>
