<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3 class="sousTitle">{{ title }}</h3>
          <div class="card">
            <div class="card-body">
              <div class="title">{{ title1 }}</div>
              <div class="">
                <div class="">
                  <img
                    class="card-img img-fluid"
                    [src]="image"
                    alt="Image"
                    style="max-width: 200px; max-height: 200px"
                  />
                </div>
              </div>
              <div class="title2">{{ title2 }}</div>
              <div class="key1">
                <div>Don Sidaction</div>
                <h4 class="value">{{ value }}</h4>
              </div>
              <div class="key2">
                <div>Total</div>
                <h4 class="value">{{ value }}</h4>
              </div>

              <button
                class="client-button btn"
                routerLink="/recharge/form/valider"
              >
                <i class="fa-solid fa-check"></i>
                Valider
              </button>
              <button
                class="cancel-client-button btn"
                type="button"
                (click)="goToRecharge()"
              >
                <i class="fa-solid fa-xmark"></i> Annuler
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
