<main class="main">
  <div class="mainContainer">
    <div class="px-0 py-0 formContainer">
      <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">
          <div class="card">
            <h5 class="text-center mb-4">Fisrt let's change Your Password</h5>

            <form
              class="form-card"
              #ClientChangePassForm="ngForm"
              (ngSubmit)="changePasswordClicked()"
            >
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">New Password </label>

                  <input
                    type="text"
                    [(ngModel)]="changePasswordRequestClient.newPassword"
                    #NewPassword="ngModel"
                    id="NPassword"
                    name="NewPassword"
                    required
                    pattern="[a-zA-Z0-9]+"
                  />
                </div>

                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3"
                    >Confirm Password
                  </label>

                  <input
                    type="text"
                    ngModel
                    #ConfirmPass="ngModel"
                    id="ConfirmPass"
                    name="ConfirmPass"
                    [disabled]="!(NewPassword.touched && NewPassword.valid)"
                    required
                    pattern="[a-zA-Z0-9]+"
                  />
                </div>

                <div *ngIf="NewPassword.touched && !NewPassword.valid">
                  <div
                    class="alert alert-danger"
                    *ngIf="NewPassword.errors && NewPassword.errors.required"
                  >
                    New Password Field is required
                  </div>
                  <div
                    class="alert alert-danger"
                    *ngIf="NewPassword.errors && NewPassword.errors.pattern"
                  >
                    Invalid Format for New Password: Must only contain letters
                    and numbers
                  </div>
                </div>
                <div *ngIf="ConfirmPass.touched && !ConfirmPass.valid">
                  <div
                    class="alert alert-danger"
                    *ngIf="ConfirmPass.errors && ConfirmPass.errors.required"
                  >
                    Confirm Password Field is required
                  </div>
                </div>
                <div *ngIf="ConfirmPass.value != null && ConfirmPass.touched">
                  <div
                    class="alert alert-danger"
                    *ngIf="!(NewPassword.value == ConfirmPass.value)"
                  >
                    Erreur: Password fields do Not match !
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                  <button
                    type="submit"
                    class="btn-block btn-primary"
                    [disabled]="
                      !(
                        NewPassword.value == ConfirmPass.value &&
                        ClientChangePassForm.valid
                      )
                    "
                  >
                    Change Password
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
